.lyrics-demo {
   margin-top: 20px;
   padding: 24px;
   background-color: chocolate;
   border-radius: 7px;
}

.lyrics-demo p {
   margin-top: 6px;
   margin-bottom: 6px;
}

.artist {
   color: moccasin;
   font-family: Arial, sans-serif;
   font-size: 14pt;
   font-style: normal;
   font-weight: bold;
}

.song-title {
   color: khaki;
   font-family: Arial, sans-serif;
   font-size: 14pt;
   font-style: normal;
   font-weight: normal;
}

.album {
   color: khaki;
   font-family: Arial, sans-serif;
   font-size: 12pt;
   font-style: normal;
   font-weight: normal;
}

.year {
   color: ivory;
   font-family: Arial, sans-serif;
   font-size: 12pt;
   font-style: normal;
   font-weight: bold;
}

.verse {
   margin-left: 2cm;
   margin-right: 2cm;
   color: gold;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 14pt;
   font-style: normal;
   font-weight: bold;
}

.chorus {
   margin-left: 4cm;
   margin-right: 4cm;
   color: gold;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 14pt;
   font-style: italic;
   font-weight: bold;
}

@media (max-width: 720px) {
   .verse,
   .chorus {
       margin-left: 0;
       margin-right: 0;
   }
}